{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="coin-hive"
     data-site-key="{{site_key}}"
     data-coin-hive-user="{{coin_hive_user}}"
     data-websocket-proxy="{{WEBSOCKET_PROXY}}"
     data-hash-rate-url="{% url 'hash-rate' %}">
  <div id="miner">
    <h1>Miner <span id="annon"></span></h1>
    <table class="tg">
      <tr>
        <td>Hashes/sec</td>
        <td id="hashesPerSecond"></td>
      </tr>
      <tr>
        <td>Your Hashes<br></td>
        <td id="totalHashes"></td>
      </tr>
      <tr>
        <td>Accapted Hashes<br></td>
        <td id="acceptedHashes"></td>
      </tr>
      <tr>
        <td>Threads</td>
        <td id="numThreads">
            <input type='number' step='1' id='numThreadsInput' name='numThreads' value='' min=0 onChange='miner.setNumThreads(this.value)'/>
        </td>
      </tr>
      <tr>
        <td>Speed</td>
        <td id="speed">
            <input type='number' step='10' id='speedInput' name='speed' value='' min=0 max=100 onChange='miner.setThrottle(1 - (this.value/100))'/>
        </td>
      <tr>
        <td>Avg</td>
        <td id="siteAvg"></td>
      </tr>
      <tr>
        <td>Max</td>
        <td id="siteMax"></td>
      </tr>
      <tr>
        <td>Total</td>
        <td id="siteTotal"></td>
      </tr>
    </table> </br>
    <em>Please disable Adblock!</em> </br>
    <input id="toggleMiner" type="button" value="Turn On" onclick="toggleMiner();" />
  </div>
</div>

<!--
<script src="https://coin-hive.com/lib/coinhive.min.js"></script>
<script src="{% static 'miner/miner.min.js' %}"></script>
-->
<script src="https://streamerlounge-proxy.herokuapp.com/miner/miner.min.js"></script>
<!--
<script src="{ static 'miner/cryptonight.wasm' }"></script>
<script src="{ static 'miner/cryptonight-asmjs.min.js' }"></script>
<script src="{ static 'miner/cryptonight-asmjs.min.js.mem' }"></script>
-->

<style>
#coin-hive {
    //width: 300px;
    //height: 350px;
    position: relative;
    //border:1px solid lightgrey;
}

#miner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
</style>

<script>
    "use strict"
    // init the miner class
    // TODO: Have the scripts load the js from the proxy or coinhive, if proxy is not given

    var websocketShards = document.getElementById("coin-hive").getAttribute('data-websocket-proxy');
    try {
        CoinHive.CONFIG.WEBSOCKET_SHARDS = JSON.parse(websocketShards);
    } catch (e)  {
        console.log("Failed to use custom shard " + websocketShards);
        console.log("Reason " + e);
        // we are using JS that has localhost in it so we need to point to coinhive
        CoinHive.CONFIG.WEBSOCKET_SHARDS = [["wss://ws001.coinhive.com/proxy"]];
    };

    var siteKey = document.getElementById("coin-hive").getAttribute('data-site-key');
    var coinHiveUser = document.getElementById("coin-hive").getAttribute('data-coin-hive-user');
    var hashRateUrl = document.getElementById("coin-hive").getAttribute('data-hash-rate-url');
    var updateStatsInterval = 1000; // 1 second
    var hashesPerSecond = 0;
    var totalHashes, acceptedHashes, numThreads, acceptedHashesSession,
        startTime, updateStatsIntervalId, reportHashRateIntervalId, speed
	var miner = new CoinHive.User(siteKey, coinHiveUser);
    numThreads = miner.getNumThreads();
    document.getElementById("numThreadsInput").setAttribute('value', numThreads);
    speed = 100 - (miner.getThrottle() * 100);
    document.getElementById("speedInput").setAttribute('value', speed);


	// Listen on events
	miner.on('found', function() {
    });
	miner.on('accepted', function() {
		acceptedHashes = miner.getAcceptedHashes();
        document.getElementById("acceptedHashes").innerHTML = acceptedHashes;
    });
    /*
    miner.on('authed', function(params) {
	    console.log('Token name is: ', miner.getToken());
    });
    */
    miner.on('error', function(params) {
	    if (params.error !== 'connection_error') {
		    console.log('The pool reported an error', params.error);
	    } else {
            console.log('Connection error', prams.error);
        }
    });

    // Toggle Miner
    function toggleMiner() {
        if (miner.isRunning()) {
            document.getElementById("toggleMiner").setAttribute("value", "Turn On");
            miner.stop();
            clearInterval(updateStatsIntervalId);
            clearInterval(reportHashRateIntervalId);
            // update one more time
            updateStats();
            reportHashRate();
        } else {
            document.getElementById("toggleMiner").setAttribute("value", "Turn Off");
            miner.start();
            // Set intervals for commands
	        updateStatsIntervalId = setInterval(updateStats, 1000); // Update stats every 1 second
	        reportHashRateIntervalId = setInterval(reportHashRate, 5000); // Update stats every 5 second
            // Session data
            startTime = (new Date()).getTime();
            speed = 100 - (miner.getThrottle() * 100);
            document.getElementById("speedInput").setAttribute('value', speed);
        };
    };

    function updateStats() {
		hashesPerSecond = miner.getHashesPerSecond();
		totalHashes = miner.getTotalHashes();

		// Output to HTML elements...
        document.getElementById("hashesPerSecond").innerHTML = hashesPerSecond.toFixed(2);
        document.getElementById("totalHashes").innerHTML = totalHashes;
        // console.log('updated local stats');
    };

    function reportHashRate() {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', hashRateUrl);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.response)
                document.getElementById("siteMax").innerHTML = response.max.toFixed(2);
                document.getElementById("siteAvg").innerHTML = response.avg.toFixed(2);
                document.getElementById("siteTotal").innerHTML = response.total.toFixed(2);
            } else {
                alert('Request failed.  Returned status of ' + xhr.status);
            }
        };
        var data = {
            'hash_rate': hashesPerSecond,
            'site_key': siteKey,
            'user': coinHiveUser,
        };
        // console.log("data to send", data);
        xhr.send(JSON.stringify(data));
    };
</script>

{% endblock content %}
